<nav class="primary">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/getting-started">Getting Started</a>

      <ul>
        <li>
          <a href="{% unless page.url contains '/getting-started' %}/getting-started{% endunless %}#installation">Installation</a>
        <li>
          <a href="{% unless page.url contains '/getting-started' %}/getting-started{% endunless %}#included-files">Included Files</a>
        <li>
          <a href="{% unless page.url contains '/getting-started' %}/getting-started{% endunless %}#configuration">Configuration</a>
      </ul>
    </li>
    <li>
      <a href="/typography">Typography</a>

      <ul>
        <li>
          <a href="{% unless page.url contains '/typography' %}/typography{% endunless %}#headings">Headings</a>
        </li>
        <li>
          <a href="{% unless page.url contains '/typography' %}/typography{% endunless %}#quotes">Quotes</a>
        </li>
        <li>
          <a href="{% unless page.url contains '/typography' %}/typography{% endunless %}#lists">Lists</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/layouts">Layouts</a>

      <ul>
        <li>
          <a href="{% unless page.url contains '/layouts' %}/layouts{% endunless %}#splits">Splits</a>
        </li>
        <li>
          <a href="{% unless page.url contains '/layouts' %}/layouts{% endunless %}#grids">Flexible Grids</a>
        </li>
        <li>
          <a href="{% unless page.url contains '/layouts' %}/layouts{% endunless %}#rows">Rows</a>
        </li>
        <li>
          <a href="{% unless page.url contains '/layouts' %}/layouts{% endunless %}#columns">Columns</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>