@import syntax
@import melody/melody





/* Colors
   ============================== */
$red: #C16069
$dark: #2B303B
$dark2: #333D46
$shade: rgba($dark, .05)
$dred: darken($red, 10%)
$yellow: #ECCC87
$blue: #65737F
$white: #eff1f5





/* Layout
   ============================== */
a, a:visited
  color: $blue

body
  +split(1,2.618)
  color: $dark

  .logo, .top, main
    padding: $baseline

.logo
  background: $red

  h2
    margin-bottom: 0

    a
      color: $white
      text-decoration: none

.top
  h1
    margin-bottom: 0
    font-family: $secondary

.sidebar
  +split(1,1.618)

  a
    color: inherit
    display: block
    margin-bottom: $baseline
    text-decoration: none
    font-family: $secondary
    font-weight: 400

    &.current
      text-decoration: underline

  .primary, .secondary
    padding: $baseline
    height: calc(100vh - #{$baseline * 4})

  .primary
    background: $dark
    color: $white

  .secondary
    background: $dark2
    color: $white

main
  height: calc(100vh - #{$baseline * 4})
  overflow: auto

  pre
    margin: 0 #{$baseline/-.875} #{$baseline/.875} #{($baseline/.875) * -1.25}
    padding: #{$baseline/.875} #{$baseline/.875} #{$baseline/.875} #{($baseline/.875) * 1.25}

  .dev-message
    height: auto
    overflow: hidden
    background: $yellow
    margin: #{$baseline * -1} #{$baseline * -1} $baseline #{$baseline * -1.25}
    padding: $baseline $baseline $baseline #{$baseline * 1.25}
    font:
      family: $secondary
      weight: 300

    p
      font-size: .875em
      line-height: #{$baseline / .875}
      margin-bottom: #{$baseline / .875}

    p:last-of-type
      margin: 0

  .container
    float: left

  .doc-section
    padding: $baseline 0

    .split-note,
    .split-code
      margin: 0 #{$baseline * -1} #{$baseline * 2} #{$baseline * -1.25}
      padding: $baseline $baseline $baseline #{$baseline * 1.25}
      +split(1, 6.854)

      & + .split-code,
      & + .split-note
        margin-top: #{$baseline * -2}

      h6
        font:
          family: $secondary
          size: .875em

    .split-note
      background: $shade
      color: $dark

      pre
        margin: 0 #{$baseline/-.875} #{$baseline/.875}
        padding: #{$baseline/.875} #{$baseline/.875} #{$baseline/.875}

      pre:last-of-type
        margin-bottom: #{$baseline * -1}

    .split-code
      background: $dark

      .highlight
        overflow-x: auto

      .highlight, pre
        background: transparent

      pre
        padding: 0 $baseline
        margin: 0

      h6
        color: $white

  .golden-ratio-split-example
    +split(1,1.618)

  .golden-ratio-multi-row-example
    +split(1,2.618, 24em)

  .quarters-split-example
    +split(3,1)

  .grid-example
    +grid(1, 2, 4)

  .grid-mq-example
    +grid(2, 3, 6, 64em, 96em)

  .golden-ratio-split-example,
  .golden-ratio-multi-row-example,
  .quarters-split-example,
  .grid-example,
  .grid-mq-example
    margin-bottom: $baseline

    @for $i from 1 through 12
      & > :nth-child(#{$i})
        background: rgba($red, (1 - (.05 * $i)))
        color: $white
        text-align: center
        padding: $baseline