@import syntax
@import melody/melody





/* Colors
   ============================== */
$red: #C14D4D
$dark: #282828
$dred: #742F2F





/* Layout
   ============================== */
body
  +split(1,1.618)
  color: $dark

  .logo, .top, main
    padding: 1.5em

.logo
  background: $red

  h2
    margin-bottom: 0

    a
      color: white
      text-decoration: none

.top
  h1
    margin-bottom: 0

.sidebar
  +split(1,1.618)

  a
    color: inherit
    display: block
    margin-bottom: .75em
    text-decoration: none
    font-family: $secondary
    font-weight: 600

    &.current
      text-decoration: underline

  .primary, .secondary
    padding: 1.5em
    height: calc(100vh - 6em)

  .primary
    background: $dark
    color: white

  .secondary
    background: $dred
    color: white

main
  height: calc(100vh - 6em)
  overflow: auto

  & > .container
    float: left

  .doc-section
    padding: 1.5em 0

    .split-code
      margin: 0 -1.5em 1.5em
      padding: 1.5em
      background: $shade
      +split(1, 4.236)

      .highlight, pre
        background: transparent

      pre
        padding: 0 1.5em
        margin: 0 -1.5em

  .golden-ratio-split-example
    +split(1,1.618)

  .golden-ratio-multi-row-example
    +split(1,1.618, 24em)

  .quarters-split-example
    +split(3,1)

  .grid-example
    +grid(1, 2, 4)

  .grid-mq-example
    +grid(1, 2, 4, 64em, 96em)

  .golden-ratio-split-example,
  .golden-ratio-multi-row-example,
  .quarters-split-example,
  .grid-example,
  .grid-mq-example
    margin-bottom: 1.5em

    & > *
      text-align: center
      background: $shade
      padding: 1.5em

    @for $i from 1 through 12
      & > :nth-child(#{$i})
        background: rgba($red, (1 - (.05 * $i)))
        color: white